<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Brainbox</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h2>Login</h2>
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div th:if="${param.error}" class="message">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="message" style="color: green;">
            You have been logged out.
        </div>
    </form>
</body>
</html>
